.menu > a {
  color: beige;
}
.c-menu {
  background-color: #151b16;
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
